.button {
    width: 200px;
    height: 40px;
    background-color: transparent;
}

.button__filled {
    background-color: orange;
    color: white;
}

.button__outlined {
    border: 1px solid orange;
    color: orange;
}

.button__size-s {
    font-size: 16px;
  }
  
  .button__size-m {
    font-size: 20px;
  }
  
  .button__size-l {
    font-size: 24px;
  }