.typography {
    cursor: pointer;
    transition: font-size 0.2s;
  }
  
  
  .typography__size_s {
    font-size: 16px;
  }
  
  .typography__size_m {
    font-size: 20px;
  }
  
  .typography__size_l {
    font-size: 24px;
  }
  